html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

@font-face {
  font-family: 'OpenSans_Condensed-Bold', sans-serif;
  src: url('../fonts/OpenSans_Condensed-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'OpenSans_Condensed-Light', sans-serif;
  src: url('../fonts/OpenSans_Condensed-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'OpenSans-Bold', sans-serif;
  src: url('../fonts/OpenSans-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'OpenSans-Regular', sans-serif;
  src: url('../fonts/OpenSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'OpenSans-SemiBold', sans-serif;
  src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2');
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'OpenSans_Condensed-Bold', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background-color: #333333;
  line-height: 1.3;
}

.btn {
  text-transform: uppercase;
  padding: 15px 45px;
  background-color: #d1a954;
  line-height: 1;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #e09c09;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.large-container {
  max-width: 1610px;
  padding: 0 15px;
  margin: 0 auto;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

/* header */
.header {
  min-height: 100vh;
  background-image: url('../images/header-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header__bg-fon {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(0deg,
      rgba(51, 51, 51, 0.85),
      rgba(51, 51, 51, 0.85));
}

.header__nav-inner {
  padding-top: 50px;
  margin-bottom: 190px;

}

.nav {
  display: flex;
  align-items: center;
  gap: 43px;
  flex-wrap: wrap;
}

.nav__link {
  text-transform: uppercase;
  position: relative;
}

.nav__link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  left: 50%;
  right: 50%;
  bottom: -5px;
  transform: translate(-50%, -50%);
  background-color: #d1a954;
  transition: all .3s;
}

.nav__link:hover::after {
  width: 100%;
}

.nav__link-phone {
  margin-left: 108px;
  position: relative;
}

.nav__link-phone::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  height: 2px;
  background-color: #d1a954;
}

/* content */
.header__row {
  display: flex;
  gap: 125px;
  align-items: center;
  min-width: 0;
  position: relative;
  z-index: 1;
}

.header__col .header__title {
  text-transform: uppercase;
  font-size: 64px;
  margin-bottom: 50px;
}

.header__lead {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 50px;
}

/*! slider */
/* .swiper {} */

.headerSwiper {
  position: relative;
  max-width: 370px;
  max-height: 570px;
  cursor: pointer;
}


/* .swiper-wrapper {} */

/* .swiper-slide {} */

/* .swiper__image {} */

.swiper-button-left {
  position: absolute;
  bottom: -35px;

}

.swiper-button-left span {
  margin-left: 25px;
}

.swiper-button-right {
  position: absolute;
  bottom: -35px;
  right: 20px;
}

.swiper-button-right span {
  display: inline-block;
  margin-right: 25px;
}

.swiper__img {
  position: relative;
  top: 3px;
}

/* aside */
.sidebar {
  position: absolute;
  top: 0;
  width: 150px;
  min-height: 100vh;
  background-color: rgba(51, 51, 51, 0.75);
}

/* .sidebar__inner {} */

.sidebar__list {
  position: absolute;
  bottom: 85px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.sidebar__item-info {
  margin-bottom: 260px;
  height: 25px;
  width: 242px;
  transform: rotate(-90deg);
  position: relative;
  left: 5px;
  color: #C4C4C4;
}

.sidebar__item-info::after {
  content: '';
  position: absolute;
  width: 80px;
  height: 3px;
  right: 280px;
  top: 10px;
  background-color: #c4c4c4;
}

.sidebar__item-social {
  padding-left: 5px;
  cursor: pointer;
}

svg {
  fill: white;
  fill-opacity: 0.6;
}

svg:hover {
  fill: #d1a954;
}

/* main */
.title {
  font-family: 'OpenSans_Condensed-Light', sans-serif;
  font-weight: 300;
  font-size: 48px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
}

.title span {
  color: #D1A954;
  margin-right: 15px;
}

/* about */
/* .about {} */

.about__inner {
  padding: 150px 0;
}

.about__title {
  margin-bottom: 100px;
}

.about__row {
  display: flex;
  gap: 30px;
}

/* .about__col {} */

.about__col-mw {
  flex: 0 0 25%
}

.about__col-title {
  font-size: 21px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.about__col-lead {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
}

.about__col-armchair {
  font-size: 16px;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}

.theater__image,
.armchair__image {
  margin-bottom: 5px;
}

/* .about__col-seating {} */

.about__col-seating span {
  color: #D1A954;
}

.about__col-theater {
  font-size: 16px;
  letter-spacing: 0.05em;
}

.about__col-stories span {
  color: #D1A954;
}

/* .about__col-image {} */

/*! installations */

.installations__inner {
  margin-bottom: 150px;
}

.installations__title {
  max-width: 355px;
  padding-bottom: 40px;
  margin: 0 auto;
}

.swiper-slider__item {
  position: relative;
  cursor: pointer;
}

.swiper-slider__item-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.65);
  transition: background linear .3s;
}

.swiper-slider__item-bg::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90px;
  height: 100px;
  background-image: url('../images/installations/search.svg');
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity linear .3s;
}


.swiper-slider__item-bg:hover::after {
  opacity: 1;
}

.swiper-slider__item-bg:hover {
  background: transparent;
}

.swiper-slide__event {
  position: absolute;
  top: 40px;
  left: 35px;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  max-width: 120px;
}

.swiper-slide__date {
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  position: absolute;
  bottom: 40px;
  left: 35px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

/* rating */


.rating__inner {
  background-image: url('../images/rating/rating-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.rating__inner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.9);
}

.rating__row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 128px 95px 126px 190px;
  gap: 100px;
  position: relative;
  z-index: 1;
}

.rating__col {
  margin-bottom: 25px;
}

.rating__col-year {
  font-size: 72px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #D1A954;
}


.rating__col-text {
  font-size: 36px;
}


/* partners */

.partners__inner {
  padding: 185px 0 85px 0;
}

.partners__title {
  margin-bottom: 100px;
}

.partners__box {
  display: flex;
  gap: 80px;
  flex-wrap: wrap;

}